{% extends request.user.is_superuser|yesno:'secretary_dash/doctor/base.html,secretary_dash/secretary/base.html' %}
{% load user_tags %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <div class="header">
        <h2>{% block page_title %}{% endblock %}</h2>
        <div class="header-actions">
            {% block header_actions %}{% endblock %}
        </div>
    </div>
    <div class="table-container">
        {% block table_content %}{% endblock %}
    </div>
</div>
{% endblock %} 