{% extends 'secretary_dash/common/form_base.html' %}

{% block page_title %}{{ title }}{% endblock %}

{% block form_content %}
<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="form-group {% if field.field.required %}required-field{% endif %} {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="form-actions">
        <button type="submit" class="btn btn-add">
            <i class="fas fa-save"></i>
            <span>Save Secretary</span>
        </button>
        <a href="{% url 'secretary_dash:secretary_list' %}" class="btn btn-cancel">
            <i class="fas fa-times"></i>
            <span>Cancel</span>
        </a>
    </div>
</form>
{% endblock %} 